<div class="flex-container flex-col">
  <nav
    class="mx-auto block w-full max-w-screen-xl rounded-xl border border-white/80 bg-white bg-opacity-80 px-6 py-3 text-black shadow-md backdrop-blur-2xl backdrop-saturate-200"
  >
    <div class="text-blue-gray-900 flex items-center justify-between">
      <a
        class="mr-4 block py-1.5 font-sans text-base font-semibold leading-relaxed tracking-normal text-inherit antialiased"
      >
        Employee Management App (EMA)
      </a>
      <div class="hidden lg:block">
        <ul
          class="my-2 flex flex-col gap-2 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6"
        >
          <li
            class="text-blue-gray-900 block p-1 font-sans text-sm font-medium leading-normal antialiased"
          >
            <a
              routerLink="employees"
              class="flex items-center transition-colors hover:text-blue-500"
            >
              Employee List
            </a>
          </li>
          <li
            class="text-blue-gray-900 block p-1 font-sans text-sm font-medium leading-normal antialiased"
          >
            <a
              routerLink="create-employee"
              class="flex items-center transition-colors hover:text-blue-500"
            >
              Create Employee
            </a>
          </li>
        </ul>
      </div>
      <button
        class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
        type="button"
      >
        <span
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            aria-hidden="true"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            ></path>
          </svg>
        </span>
      </button>
    </div>
  </nav>

  <main class="mt-5">
    <router-outlet></router-outlet>
  </main>

  <footer
    class="border-blue-gray-50 flex w-full flex-row flex-wrap items-center justify-center gap-x-12 gap-y-6 border-t py-6 text-center md:justify-between"
  >
    <p
      class="text-blue-gray-900 block font-sans text-base font-normal leading-relaxed antialiased"
    >
      © 2024 Ian Perfitt
    </p>
    <ul class="flex flex-wrap items-center gap-x-8 gap-y-2">
      <li>
        <a
          href="https://github.com/ianperfitt"
          class="text-blue-gray-900 block font-sans text-base font-normal leading-relaxed antialiased transition-colors hover:text-blue-500 focus:text-blue-500"
        >
          Github
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/ianperfitt/"
          class="text-blue-gray-900 block font-sans text-base font-normal leading-relaxed antialiased transition-colors hover:text-blue-500 focus:text-blue-500"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </footer>
</div>
