<div class="rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <table class="w-full min-w-max table-auto text-left">
    <thead>
      <tr>
        <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
          >
            First Name
          </p>
        </th>
        <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
          >
            Last Name
          </p>
        </th>
        <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
          >
            Email Id
          </p>
        </th>
        <th class="border-blue-gray-100 bg-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-none antialiased opacity-70"
          >
            Actions
          </p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td class="border-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased"
          >
            {{ employee.firstName }}
          </p>
        </td>
        <td class="border-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased"
          >
            {{ employee.lastName }}
          </p>
        </td>
        <td class="border-blue-gray-50 border-b p-4">
          <p
            class="text-blue-gray-900 block font-sans text-sm font-normal leading-normal antialiased"
          >
            {{ employee.emailId }}
          </p>
        </td>
        <td class="border-blue-gray-50 border-b p-4">
          <button
            (click)="updateEmployee(employee.id)"
            class="mr-2 select-none rounded-lg bg-gray-900 px-6 py-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            Update
          </button>
          <button
            (click)="deleteEmployee(employee.id)"
            class="mr-2 select-none rounded-lg bg-gray-900 px-6 py-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            Delete
          </button>
          <button
            (click)="employeeDetails(employee.id)"
            class="select-none rounded-lg bg-gray-900 px-6 py-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
